<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="css/general.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/data.css"  media="screen,projection"/>
    
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-crossorigin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Have your questions answered by everyone. The perfect poll!">
    <meta property="og:site_name" content="Suffragamus"> <!--CHANGE!-->
    <meta property="og:url" content=""> <!--CHANGE!-->
    <meta property="og:image" content=""> <!--CHANGE! (essentially logo)-->
    <link rel="canonical" href=""> <!--CHANGE! (it will be the website url)-->
    <!--DO REST OF SEO-->
    <title>Data</title>

    <script src="css/fontawesome-pro-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Pacifico:regular,light|Jaldi|Work+Sans:regular,light" rel="stylesheet">
</head>
<body>
    <div class="body-container">
        <nav>
            <ul class="nav-left">
                <!-- <li class="nav-item logo"><a href="index.php">Suffragamus</a></li> -->
                <li class="nav-item logo">
                    <a href="index.html">
                        PianoMan
                    </a>
                </li>
            </ul>
            <div class='nav-right-container'> 
                <a href="#" class="menu-icon"><i class="far fa-bars"></i></a>
                <ul class="nav-right" id="navRight">
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="data.html">Data</a></li>
                    <li class="nav-item"><a href="visuals.html">Visuals</a></li>
                    <li class="nav-item"><a href="#">Sign Up</a></li>
                    <li class="nav-item"><a href="#">Log In</a></li>
                    <input type="text" class="nav-search" placeholder="Search...">
                </ul>
            </div>
        </nav>

        <div class="row">
            <canvas id='initialCanvas'></canvas>
        </div>
    </div>

    <script src="js/visuals.js"></script>
    <script src="js/general.js"></script>
</body>
</html>
